*.pyc
**/__pycache__/
build/
.env
config.yaml


hpc-execution-node-backend/notebooks/flow_outputs/**
!hpc-execution-node-backend/notebooks/flow_outputs/__placeholder__


prover-service/**
!prover-service/__placeholder__
!prover-service/readme.md

CLAUDE.local.md

.claude_assets

cdp
